<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>UPnP Contact Book</name>

  <description>
      UPnP Contact Book 
  </description>

  <icon src="icon.png" />

  <author href="http://www.orexel.com" email="kalaiselvi.arunachalam@gmail.com">
      Kalaiselvi Arunachalam
  </author>
  <platform name="android" />

</widget>